@import 'tailwindcss';
@import 'tw-animate-css';
@import './fontface.css';
@import './calendar.css';
@import './theme.css';

@variant dark (&:where([data-theme="dark"] *));

/* Custom motion animations */
@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@utility bg-spinner {
  background-image: var(--spinner-light);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@utility bg-spinner-dark {
  background-image: var(--spinner-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@utility bg-chevron-right {
  background-image: var(--chevron-right);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@utility bg-chevron-right-dark {
  background-image: var(--chevron-right-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@utility bg-chevron-down {
  background-image: var(--chevron-down);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@utility bg-chevron-down-dark {
  background-image: var(--chevron-down-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@layer base {
  .root {
    isolation: isolate;
  }
  body {
    @apply bg-background-page text-foreground-neutral text-base font-sans;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: default;
  }
}

@utility debug {
  border-width: 1px;
  border-style: dashed;
  border-color: #f87171;
}
