@import 'tailwindcss';
@import 'tw-animate-css';
@import './fontface.css';
@import './theme.css';

@variant dark (&:where([data-theme="dark"] *));

@layer base {
  .root {
    isolation: isolate;
  }
  body {
    @apply bg-background-page text-foreground-neutral text-base font-sans;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: default;
  }
}

@utility debug {
  border-width: 1px;
  border-style: dashed;
  border-color: #f87171;
}
