/output
/dist
/build
/release
/storage
/temp
.data
.dist
.build
.netlify
.react-router
.wrangler
.cache
.config
.github
.husky
.temp
.unikraft
.vscode
.zed
.DS_Store
.DS_Store?
.dockerignore
.sentryclirc
audit.json
Dockerfile*
compose.env*
node_modules
npm-debug.log
slim.report.json
playwright-report/
tests-results/
routeTree.gen.ts
routes.gen.ts
sbom-*
/api/docs.go
/api/swagger.json
/api/swagger.yaml
/app/generated/
/web/dist/
/specs/
*.gen.ts
.docs/
.data/
.nitro/
.output/
.tanstack/
.playwright/
.git
.gitignore
*.sqlite*
*.sqlite3*
*.vars
*.db*
*.log
*.md
.env*
