APP_MODE=production
APP_LOG_LEVEL=info
APP_LOG_TRANSPORT=console
APP_SECRET_KEY=_PUT_SECURE_ENCRYPTION_KEY_FOR_APP_HERE_
AUTH_PRIVATE_KEY=__YOUR_JWT_PRIVATE_KEY_HERE__
AUTH_PUBLIC_KEY=__YOUR_JWT_PUBLIC_KEY_HERE__
AUTH_SECRET_KEY=__SECRET_KEY_FOR_JWT_HMAC_ALGORITHM_SIGNING__
AUTH_ACCESS_TOKEN_EXPIRY=900
AUTH_REFRESH_TOKEN_EXPIRY=7200
AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=
AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=
DATABASE_URL=postgresql://postgres:securedb@localhost:5432/postgres?sslmode=disable
MAILER_FROM_EMAIL="mailer@example.com"
MAILER_FROM_NAME="MyApplication"
MAILER_SMTP_HOST=localhost
MAILER_SMTP_PORT=1025
MAILER_SMTP_USERNAME=maileruser1
MAILER_SMTP_PASSWORD=mailerpass1
MAILER_SMTP_SECURE=false
PUBLIC_BASE_URL=http://localhost:3000
PUBLIC_S3_ASSETS_URL=http://localhost:9180
PUBLIC_TRUSTED_ORIGINS=http://localhost:3000,http://localhost:3080
PUBLIC_RATE_LIMIT_DEFAULT_MAX=100
PUBLIC_RATE_LIMIT_DEFAULT_WINDOW=900
STORAGE_MAX_UPLOAD_SIZE=5242880
STORAGE_S3_ACCESS_KEY_ID=s3admin
STORAGE_S3_BUCKET_DEFAULT=devbucket
STORAGE_S3_ENDPOINT_URL=http://localhost:9100
STORAGE_S3_FORCE_PATH_STYLE=true
STORAGE_S3_PATH_PREFIX=null
STORAGE_S3_REGION=auto
STORAGE_S3_SECRET_ACCESS_KEY=s3passw0rd
STORAGE_S3_SIGNED_URL_EXPIRES=3600
