node_modules
.DS_Store
web-ssr
*.local
.env
.nitro
.wrangler
.output
.vinxi
__unconfig*
todos.json
build/

# TanStack Router
.tanstack/
routeTree.gen.ts
routes.gen.ts

# SPA embed fo Go binary
web/dist/*
!web/dist/.gitkeep
