# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Test

on:
  push:
    branches: ['**']
    tags-ignore: ['*']
  pull_request:

permissions: read-all

env:
  CGO_ENABLED: 0

jobs:
  test:
    name: Test
    strategy:
      matrix:
        # ubuntu-latest, macOS-latest, windows-2019
        os: [ubuntu-latest, macOS-latest]
        go-version: ['1.22']
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run actions/setup-sdk@local
        uses: ./.github/setup-sdk
        with:
          goVersion: ${{ matrix.go-version }}

      - if: ${{ steps.pnpm-cache.outputs.cache-hit != 'true' }}
        name: Build frontend
        run: |
          pnpm install
          NODE_ENV=production node esbuild.config.js

      - name: Check code quality
        run: |
          pnpm exec biome check --apply .
          pnpm exec biome format . --write
          pnpm exec biome lint --apply .

      - name: Install and generate templates
        run: |
          go install github.com/a-h/templ/cmd/templ@latest
          templ generate

      - name: Run unit tests
        run: |
          go install github.com/a-h/templ/cmd/templ@latest
          templ generate
          go test -v ./...

      - name: Build application executable
        run: |
          go mod download && go mod tidy && go build \
          --ldflags="-w -s -extldflags '-static' \
            -X github.com/riipandi/gogon/pkg.Version=$(cat package.json | jq -r .version) \
            -X github.com/riipandi/gogon/pkg.BuildDate=$(date -u +%Y-%m-%dT%H:%M:%SZ)" \
          -trimpath -a -o gogon cmd/app/main.go
